<div class="container">
    <br>
         <div id="{{message._id}}">
     
             <h5>From: {{message.sender}}</h5>
             <p>Title: {{message.title}}
             <br> Description: {{message.description}}
             </p>
         <br>
                     <p ng-repeat="reply in message.replys">   Reply: {{reply}}</p>
             <button id="{{message._id}}" ng-class="favtrue ? 'btn btn-primary' : 'btn'" ng-click="favorite($event)">Favourite</button>
             <button id="{{message._id}}" ng-click="delete($event)" >Delete</button>
             <button id="{{message._id}}" ng-click="replyOn?replyOn=false:replyOn=true">Reply</button>
             <div id="reply" ng-show="replyOn">
                 <input type="text" ng-model="newreply" name="reply"/>
                 <button id="{{message._id}}" ng-click="sendmessage($event)">Send</button>
             </div>
     
         </div>
     </div>